body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    font-family: "Courier New", Courier, monospace;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header,
footer {
    background-color: #ccc;
    padding: 1em;
    text-align: center;
}
.weather-container {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

#weather-current {
    display: flex;
    flex-wrap: wrap;
}

#weather-current div {
    margin: 1em;
}

#weather-forecast {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.weather-card {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 0.25fr 1fr;
    width: 20%;
    gap: 1em;
    margin: 1em;
    padding: 0.5em;
    border-top-right-radius: 1em;
    border-top-left-radius: 1em;
    background-color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    min-width: 170px;
    min-height: 300px;
}

.weather-category-temperature {
    grid-column: 1;
    grid-row: 1;
}

.weather-category-weather {
    grid-column: 2;
    grid-row: 1
}

.weather-category-rain {
    grid-column: 1 / 3;
    grid-row: 2;
}

.weather-category-wind {
    grid-column: 1 / 3;
    grid-row: 3;
}


